.backToTop:before {
  z-index: 9999;
  margin: 12px 0 0 11px;
}

.backToTop:before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  border-right: 3px solid #fff;
  border-top: 3px solid #fff;
  transform: rotate(315deg);
}

.backToTop {
  position: fixed;
  /*  top: 20px;
  right: 20px;*/
  z-index: 9999;
  height: 32px;
  width: 36px;
  background-color: #ccc;
  border-radius: 4px;
  transition: background-color .2s ease-in, opacity .2s linear;
  opacity: 0.8;
  text-align: left;
  cursor: pointer;
}

.backToTop:hover {
  opacity: 1;
  background-color: blue;
}